  	<div class="navbar navbar-fixed-top">  
		<div class="navbar-inner"> 
			<div class="container">  
    			<ul class="nav">  
    				<li><a href="index.html">Home</a></li>  
  					<li><a href="facebook.html">Facebook</a></li>  
  					<li><a href="newusers/new">New User</a></li>
  					<li><a href="newusers">Show Users (2014 and before)</a></li>
				</ul>   
    		</div>  
  		</div>  
	</div>
	<br><br><br>
	
<h2>Users who graduate before 2014 (inclusive)</h2>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Username</th>
    <th>Password</th>
    <th>Graduating Year</th>
    <th>Email</th>
    <th>Gender</th>
    <th>Major</th>
  </tr>

<% @newusers.each do |newuser| %>
  <tr>
    <td><%= newuser.name %></td>
    <td><%= newuser.username %></td>
    <td><%= newuser.password %></td>
    <td><%= newuser.year %></td>
    <td><%= newuser.email %></td>
    <td><%= newuser.gender %></td>
    <td><%= newuser.major %></td>
    <% if false %>
    <td><%= link_to 'Show', newuser %></td> 
    <td><%= link_to 'Edit', edit_newuser_path(newuser) %></td> 
    <td><%= link_to 'Destroy', newuser, confirm: 'Are you sure?', method: :delete %></td>
    <% end %> 
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Back', "http://jevonyeoh.herokuapp.com" %><br>


