  	<div class="navbar navbar-fixed-top">  
		<div class="navbar-inner"> 
			<div class="container">  
    			<ul class="nav">  
    				<li><a href="index.html">Home</a></li>  
  					<li><a href="facebook.html">Facebook</a></li>  
  					<li><a href="newusers/new">New User</a></li>
  					<li><a href="newusers">Show Users (2014 and before)</a></li>
				</ul>   
    		</div>  
  		</div>  
	</div>
	<br><br><br>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @newuser.name %>
</p>

<p>
  <b>Username:</b>
  <%= @newuser.username %>
</p>

<p>
  <b>Password:</b>
  <%= @newuser.password %>
</p>

<p>
  <b>Year:</b>
  <%= @newuser.year %>
</p>

<p>
  <b>Email:</b>
  <%= @newuser.email %>
</p>

<p>
  <b>Gender:</b>
  <%= @newuser.gender %>
</p>

<p>
  <b>Major:</b>
  <%= @newuser.major %>
</p>


<%= link_to 'Edit', edit_newuser_path(@newuser) %> |
<%= link_to 'Back', "http://jevonyeoh.herokuapp.com" %>
