<%= form_for(@sex, html: {class: "form-horizontal"}) do |f| %>
  <% if @sex.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sex.errors.count, "error") %> prohibited this sex from being saved:</h2>

      <ul>
      <% @sex.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :gender, class: 'control-label' %>
    <div class="controls">
    	<%= f.text_field :gender %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
  

<% end %>
