<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @attendance.date %>
</p>

<p>
  <b>Attended:</b>
  <%= @attendance.attended %>
</p>

<p>
  <b>Remarks:</b>
  <%= @attendance.remarks %>
</p>


<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>
